<html>
  <head>
    <title><%= quiz.title %></title>
    <style type="text/css" media="all">
      div, p {display:inline;}
      strong.correct {color:rgb(0,255,0);}
      strong.incorrect {color:rgb(255,0,0);}
      strong.mark {color:rgb(255,128,0);}
      input.correct {color:rgb(0,255,0); font-weight: bold;}
      input.incorrect {color:rgb(255,0,0); font-weight: bold;}
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <!--[if lt IE 8]>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
  </head>
  <body>
    <h1><%= quiz.title %></h1>
    <%= yield %>
    <script><%= @validation_js %></script>
  </body>
</html>
